---
const measures = Object.values(await import.meta.glob('./measures/*.md', { eager: true }));
const candidates = Object.values(await import.meta.glob('./positions/*.md', { eager: true }));
---

<div class="container ml-10">
	<h1 class="text-2xl font-bold">Washington 2024 Ballot Phamplet Information</h1>
	<hr>
	
	<h2 class="text-xl font-bold">Ballot Measures</h2>
	<ul class="list-disc list-inside">
		{measures.map(post => <li><a class="underline text-blue-500" href={post.url}>{post.getHeadings()[0].text}</a></li>)}
	</ul>

	<br>
	<h2 class="text-xl font-bold">Candidates</h2>
	<ul class="list-disc list-inside">
		{candidates.map(post => <li><a class="underline text-blue-500" href={post.url}>{post.getHeadings()[0].text}</a></li>)}
	</ul>
</div>