---
const posts = Object.values(await import.meta.glob('./measures/*.md', { eager: true }));
---

<p>Post Archive:</p>
<ul>
  {posts.map(post => <li><a href={post.url}>{post.getHeadings()[0].text}</a></li>)}
</ul>