---
import remarkToc from "remark-toc"
---
<div
  class="prose
  prose-h2:mt-1 prose-h2:mb-0
  prose-li:my-0
  m-5
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
  <slot />
</div>